{% load staticfiles %}
<html>
    <head>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
      <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="{% static 'css/blog.css' %}">

        <title>Deathbunnies A-Go-Go по-русски</title>

    </head>
    <body>
        <div class="page-header">
          <img src="/static/dbheader.png" alt="Deathbunnies A-Go-Go: Дискотека Кролики Смерти">&nbsp;&nbsp;18+
        </div>

        <div class="explainer">
          <p>Перед вами короткий комикс "Deathbunnies A-Go-Go".<br>Его нарисовала американка <a href="http://www.evilkid.com/">Алия Файбс (A. V. Phibes)</a>,<br>
            а перевела с разрешения автора <b>Пэйшенс Даур</b>.<br>
                <p><b>Крутите вниз!</b> Или качайте архив из 30 стрипов: <b><a href="http://deathbunnies.pythonanywhere.com/media/Deathbunnies_A-Go-Go_Diskoteka_Kroliki_Smerti.zip">(zip)</a></b></p>
        </div>

        {% block content %}
        {% endblock %}

        <div class="footer"><center><p>Если делитесь комиксом, пожалуйста, указывайте ссылку на источник.<br>
                        E-mail для связи: <a href="mailto:patiencedaur@gmail.com">patiencedaur@gmail.com</a></p>
                      <p><a href="http://qcru.tumblr.com">Комикс Сомнительного Содержания</a> в моём переводе на Тумблере</p></center></div>
    </body>
</html>
