{% load staticfiles %}
<html>
    <head>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
      <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="{% static 'css/blog.css' %}">

        <title>Deathbunnies A-Go-Go по-русски</title>

    </head>
    <body>
        <div class="page-header">
          <img src="/static/dbheader.png" alt="Deathbunnies A-Go-Go: Дискотека Кролики Смерти">&nbsp;&nbsp;18+
        </div>

        <div class="explainer">
          <p>Перед вами короткий комикс "Deathbunnies A-Go-Go".<br>Его нарисовала американка <a href="http://www.evilkid.com/">Алия Файбс (A. V. Phibes)</a>, а перевела с разрешения автора на русский <b>Пэйшенс Даур</b>.<br>
                <p><b>Крутите вниз!</b> Или качайте архив из 30 стрипов: <b><a href="">(zip)</a></b></p>
        </div>

        {% block content %}
        {% endblock %}

    </body>
</html>
