.explainer, .post {
  text-align: center;
}

.page-header {
  text-align: center;
  color: #999999;
  font-size: 40pt;
  font-family: Lobster, cursive;
}

.post {
  margin-bottom: 70px;
}

body {
  padding-left: 15px;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.explainer {
  margin-bottom: 70px;
}

.explainer a {
  font-weight: bold;
}

.footer {
  margin-top: 40px;
  margin-bottom: 40px;
  display: inline-block;
}
